---
import Logo from "./Logo.astro";
---

<header>
  <nav>
    <menu class="regular-grid">
      <li class="header-element header-logo">
        <a href="/"><Logo /></a>
      </li>

      <li class="header-element header-links">
        <a href="/portfolio" class="back-hover">Portfolio,</a>
        <a href="/team" class="back-hover">Team</a>
      </li>

      <li class="header-element header-contact">
        <a href="#" class="back-hover">Get in Touch</a>
      </li>
    </menu>
  </nav>
</header>