---
import { urlFor } from '../utils/image';

interface Props {
  text?: string;
  mainImage?: any;
}

const { text, mainImage } = Astro.props;
---

<div class="text-image regular-grid">
  {mainImage && (
    <div class="text-image-visual">
      <img 
        src={urlFor(mainImage).url()} 
        alt={mainImage.alt || ''}
      />
      {mainImage.caption && (
        <span class="image-caption">{mainImage.caption}</span>
      )}
    </div>
  )}
  
  {text && (
    <div class="text-image-content">
      <p set:html={text.replace(/\n/g, '<br>')} />
    </div>
  )}
</div>

<style>
  .text-image {
    margin-bottom: 128px;
    padding: 0 16px;
  }

  .text-image-visual {
    grid-column: 2 / span 4;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .text-image-visual img {
    width: 100%;
    height: auto;
    display: block;
  }

  .text-image-content {
    grid-column: 9 / span 4;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 820px) {
    .text-image {
      grid-template-columns: 1fr;
      padding: 0 var(--gap);
      margin-bottom: 72px;
      row-gap: 72px;
    }

    .text-image-visual {
      grid-column: 1;
      width: calc((var(--column) * 8) + (var(--gap) * 7));
      margin: 0 auto;
    }

    .text-image-content {
      grid-column: 1;
    }
  }
</style>
