@font-face {
  font-family: 'Cedrat';
  src: url('/fonts/for-cedrattextweb-regular.woff2') format('woff2'),
       url('/fonts/for-cedrattextweb-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cedrat';
  src: url('/fonts/for-cedrattextweb-italic.woff2') format('woff2'),
       url('/fonts/for-cedrattextweb-italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Gerstner';
  src: url('/fonts/Gerstner-ProgrammRegular.woff2') format('woff2'),
       url('/fonts/Gerstner-ProgrammRegular.woff') format('woff');
}

/* ------------------------------------------------------------ */

/*                 HTML, BODY, HEADER & FOOTER                  */

/* ------------------------------------------------------------ */

html[data-bg-color="white"] {
  background-color: #FAF7F4;
}

html[data-bg-color="blue"] {
  background-color: #E7F2FF;
}

html[data-bg-color="green"] {
  background-color: #E8EFE8;
}

body {
  font-family: 'Cedrat', serif;
  font-size: 16px;
  line-height: 20px;
}

body[data-page='home'] {
  color: #FAF7F4;
}

body[data-page='company'] .header-logo:not(.black) {
  color: #FAF7F4;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

body[data-page='home'] footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header,
footer {
  padding: var(--gap);
}

.regular-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}

.header-logo {
  transition: color .2s ease;
}

.header-logo svg {
  fill: currentColor;
}

.header-links,
.current-location {
  display: flex;
  gap: 8px;
  grid-column: 9 / span 2;
}

.header-contact,
.current-date {
  grid-column: span 2;
}

main {
  min-height: calc(100dvh - 52px);
}

/* ------------------------------------------------------------ */

/*                             LIST                             */

/* ------------------------------------------------------------ */

.portfolio-list {
  grid-column: span 12;
}

.portfolio-list .company-image {
  width: calc((var(--column) * 3) + (var(--gap) * 2));
  height: calc((var(--column) * 3) + (var(--gap) * 2));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity .2s ease;
  left: calc((var(--column) * 5) + (var(--gap) * 5));
}

.company-list-item {
  display: grid;
  position: relative;
  padding: 4px 0;
}

@media (hover: hover) {
.company-list-item:hover::after {
  opacity: 1;
}

.company-list-item:hover::before,
.company-list-item:hover + .company-list-item::before {
  opacity: 0;
}
}

.company-list-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 16px);
  height: 100%;
  border-radius: 4px;
  background: rgba(46, 41, 41, 0.05);
  opacity: 0;
  transition: opacity .2s ease;
  z-index: -1;
}

.top-border {
  position: relative;
}

.top-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: radial-gradient(circle, #2E292980 0.5px, rgba(255,255,255,0) 0.5px);
  background-position: 0 center;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  transition: opacity .2s ease;
}

.company-list-item .company-name-info {
  display: flex;
  grid-column: span 7;
}

.company-list-item .company-name {
  display: inline;
  white-space: nowrap;
}

.company-list-item .company-date,
.company-list-item .company-location {
  grid-column: span 2;
}

.portfolio-list-header {
  padding: 4px 0;
  margin-bottom: var(--gap);
}

.portfolio-list-header .company-name-info {
  grid-column: span 7;
}

.portfolio-sorts {
  grid-column: span 4;
}

.portfolio-sort {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .2s ease;
}

.portfolio-sort.active {
  opacity: 1;
}

@media (hover: hover) {
.portfolio-sort:hover {
  opacity: 1;
}
}

.company-list-item .company-description {
  opacity: 0;
  transition: opacity .2s ease;
}

@media (hover: hover) {
.company-list-item:hover .company-description {
  opacity: .5;
}

.company-list-item:hover .company-image {
  opacity: 1;
}
}

.company-list-item .company-image img {
  width: 100%;
}

/* ------------------------------------------------------------ */

/*                      RELATED COMPANIES                       */

/* ------------------------------------------------------------ */

.related-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}

.related-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.related-section-header {
  padding: 4px 0;
  margin-bottom: var(--gap);
}

.related-section-header .section-title {
  grid-column: span 7;
}

.related-section,
body[data-page="company"] .portfolio-list {
  padding: 0 var(--gap);
}

.related-section img {
  width: 100%;
  height: calc((var(--column) * 3) + (var(--gap) * 2));
  object-fit: cover;
}

/* ------------------------------------------------------------ */

/*                            HOVER                             */

/* ------------------------------------------------------------ */

.back-hover {
  position: relative;
}

.hover-arrow {
  opacity: 0;
  transition: opacity .2s ease;
  position: absolute;
  right: 4px;
}

.back-hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 4px;
  background: #2E29290D;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  opacity: 0;
  transition: opacity .2s ease;
  z-index: -1;
}

body[data-page='home'] .back-hover::before {
  background: #FAF7F41A;
}

.sans.back-hover::before {
  height: 100%;
}

.member-content-trigger.sans.back-hover::before {
  width: 100%;
}

@media (hover: hover) {
.back-hover:hover::before,
.back-hover:hover .hover-arrow {
  opacity: 1;
}
}

/* ------------------------------------------------------------ */

/*                            MOBILE                            */

/* ------------------------------------------------------------ */

@media screen and (max-width: 820px) {
body {
  font-size: 13px;
  line-height: 15px;
}

header,
header nav,
header nav menu.regular-grid {
  display: contents;
}

main {
  height: 100dvh;
  overflow-y: scroll;
}

footer {
  display: none;
}

.header-logo {
  position: fixed;
  padding: 0;
  top: var(--gap);
  left: var(--gap);
  z-index: 100;
}

.header-links {
  position: fixed;
  padding: var(--gap);
  gap: 5px;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.header-contact {
  position: fixed;
  padding: var(--gap);
  bottom: 0;
  left: calc(50vw - var(--gap) / 2);
  z-index: 100;
}

body:not([data-page="home"])::before {
  content: "";
  position: fixed;
  bottom: 43px;
  left: 0;
  width: 100vw;
  height: 72px;
  background: linear-gradient(to top, #FAF7F4, #FAF7F400);
  pointer-events: none;
  z-index: 99;
}

body:not([data-page="home"])::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 44px;
  background: #FAF7F4;
  pointer-events: none;
  z-index: 99;
}

html[data-bg-color="white"] body:not([data-page="home"])::before {
  background: linear-gradient(to top, #FAF7F4, #FAF7F400);
}

html[data-bg-color="white"] body:not([data-page="home"])::after {
  background: #FAF7F4;
}

html[data-bg-color="blue"] body:not([data-page="home"])::before {
  background: linear-gradient(to top, #E7F2FF, #E7F2FF00);
}

html[data-bg-color="blue"] body:not([data-page="home"])::after {
  background: #E7F2FF;
}

html[data-bg-color="green"] body:not([data-page="home"])::before {
  background: linear-gradient(to top, #E8EFE8, #E8EFE800);
}

html[data-bg-color="green"] body:not([data-page="home"])::after {
  background: #E8EFE8;
}

.related-section-header .section-title {
  grid-column: span 5;
}

.related-section-header .section-link {
  grid-column: span 6;
}

.portfolio-list-header {
  display: flex;
}

.portfolio-list-header .portfolio-count {
  order: 2;
  flex: 1;
  transform: translateX(-4px);
}

.portfolio-list-header .company-name-info {
  order: 1;
}

.portfolio-list-header .portfolio-sorts {
  order: 3;
  width: calc(50vw - (var(--gap) * 1.5));
}

.company-list-item {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 8px 0;
}

.company-list-item .sans {
  padding: 0;
}

.company-location {
  opacity: .5;
}

.company-list-item .sans {
  display: block;
  margin-bottom: 2px;
}

.company-list-item .company-description {
  display: none;
}

.company-list-item * {
  max-width: calc(100vw - (var(--gap) * 3) - 38px);
}

.portfolio-list .company-image {
  height: 39px;
  width: 39px;
  opacity: 1;
  left: auto!important;
  top: auto!important;
  position: absolute!important;
  right: 0;
  line-height: 0;
  transform: translateY(.5px);
}

.portfolio-list .company-image img {
  height: 39px!important;
}

.header-logo svg {
  width: 61px;
  transform: translateY(-0.5px);
}

.header-logo a {
  line-height: 0;
  display: block;
}
}