@font-face {
  font-family: 'Cedrat';
  src: url('/fonts/for-cedrattextweb-regular.woff2') format('woff2'),
       url('/fonts/for-cedrattextweb-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cedrat';
  src: url('/fonts/for-cedrattextweb-italic.woff2') format('woff2'),
       url('/fonts/for-cedrattextweb-italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Gerstner';
  src: url('/fonts/Gerstner-ProgrammRegular.woff2') format('woff2'),
       url('/fonts/Gerstner-ProgrammRegular.woff') format('woff');
}

body {
  font-family: 'Cedrat', serif;
  font-size: 16px;
  line-height: 20px;
}

body[data-page='home'] {
  color: #FAF7F4;
}

body[data-page='company'] .header-logo:not(.black) {
  color: #FAF7F4;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

body[data-page='home'] footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header,
footer {
  padding: var(--gap);
}

.regular-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}

.header-logo {
  transition: color .2s ease;
}

.header-logo svg {
  fill: currentColor;
}

.header-links,
.current-location {
  display: flex;
  gap: 8px;
  grid-column: 9 / span 2;
}

.header-contact,
.current-date {
  grid-column: span 2;
}

main {
  min-height: calc(100dvh - 52px);
}



/* List */
.portfolio-list {
  grid-column: span 12;
}

.portfolio-list .company-image {
  width: calc((var(--column) * 3) + (var(--gap) * 2));
  height: calc((var(--column) * 3) + (var(--gap) * 2));
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity .2s ease;
  left: calc((var(--column) * 5) + (var(--gap) * 5));
}

.company-list-item {
  display: grid;
  position: relative;
  padding: 4px 0;
}

.company-list-item:hover::after {
  opacity: 1;
}

.company-list-item:hover::before,
.company-list-item:hover + .company-list-item::before {
  opacity: 0;
}

.company-list-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 16px);
  height: 100%;
  border-radius: 4px;
  background: rgba(46, 41, 41, 0.05);
  opacity: 0;
  transition: opacity .2s ease;
  z-index: -1;
}

.top-border {
  position: relative;
}

.top-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: radial-gradient(circle, #2E292980 0.5px, rgba(255,255,255,0) 0.5px);
  background-position: 0 center;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  transition: opacity .2s ease;
}

.company-list-item .company-name-info {
  display: flex;
  grid-column: span 7;
}

.company-list-item .company-name {
  display: inline;
  white-space: nowrap;
}

.company-list-item .company-date,
.company-list-item .company-location {
  grid-column: span 2;
}

.portfolio-list-header {
  padding: 4px 0;
  margin-bottom: var(--gap);
}

.portfolio-list-header .company-name-info {
  grid-column: span 7;
}

.portfolio-sorts {
  grid-column: span 4;
}

.portfolio-sort {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .2s ease;
}

.portfolio-sort:hover,
.portfolio-sort.active {
  opacity: 1;
}

.company-list-item .company-description {
  opacity: 0;
  transition: opacity .2s ease;
}

.company-list-item:hover .company-description {
  opacity: .5;
}

.company-list-item:hover .company-image {
  opacity: 1;
}

.company-list-item .company-image img {
  width: 100%;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}

.related-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.related-section-header {
  padding: 4px 0;
  margin-bottom: var(--gap);
}

.related-section-header .section-title {
  grid-column: span 7;
}

.related-section,
.portfolio-list {
  padding: 0 var(--gap);
}

.related-section img {
  width: 100%;
  height: calc((var(--column) * 3) + (var(--gap) * 2));
  object-fit: cover;
}

@media screen and (max-width: 820px) {
header,
header nav,
header nav menu.regular-grid {
  display: contents;
}

footer {
  display: none;
}

.header-logo {
  position: fixed;
  padding: var(--gap);
  top: 0;
  left: 0;
  z-index: 100;
}

.header-links {
  position: fixed;
  padding: var(--gap);
  bottom: 0;
  left: 0;
  z-index: 100;
}

.header-contact {
  position: fixed;
  padding: var(--gap);
  bottom: 0;
  left: calc(50vw - var(--gap) / 2);
  z-index: 100;
}

body:not([data-page="home"])::before {
  content: "";
  position: fixed;
  bottom: 43.5px;
  left: 0;
  width: 100vw;
  height: 72px;
  background: linear-gradient(to top, #FAF7F4, rgba(250, 247, 244, 0));
  pointer-events: none;
  z-index: 99;
}

body:not([data-page="home"])::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 44px;
  background: #FAF7F4;
  pointer-events: none;
  z-index: 99;
}

.related-section-header .section-title {
  grid-column: span 5;
}

.related-section-header .section-link {
  grid-column: span 6;
}
}